.chat__left_user
  .chat__left_user_name  dossy
  .chat__left_user_new_group
    = link_to edit_user_path(current_user) do
      = fa_icon 'edit', class: 'edit_icon'
      = fa_icon 'cog', class: 'cog_icon'
