.chat__right_text
  %ul
    %li.chat__right_text_name nishi
    %li.chat__right_time 2018/8/8 14:00
    %li.chat__right_text_text
    text
    https://tech-master.s3.amazonaws.com/uploads/curriculums//ba2e9e609274fbd14137c38f23c53bf4.pnghttps://te
