<div>
	<header></header>
	<body>
		<div class="chat-side">
			<div class="chat-side-user">
				nishi
			</div>
			<div class="chat-side-group">
				tech-camp
			</div>
		</div>
		<div class="chat-main">
			<ul class="">
				<p>main</p>
			</ul>
		</div>
	</body>
	<footer></footer>
</div>
