<html>
	<head>
		<mata charset="utf-8"></mata>
		<title>
			chat-space
		</title>
	</head>
	<body>
		<div class="chat">
			<header>
				チャットグループが作成されました
			</header>
			<div class="chat__left">
				<div class="chat__left_user">
					<ul>
						<li>nishi</li>
					</ul>
				</div>
				<div class="chat__left_group">
					<ul>
						<li class="chat__left_group_name">group-name</li>
						<li class="chat__left_group_recent_text">text</li>
					</ul>
				</div>
			</div>
			<div class="chat__right">
				<div class="chat__right_group">
					<ul>
						<li class="chat__right_group_name">techcamp</li>
						<li class="chat__right_group_current_user">membername :ddd</li>
					</ul>
				</div>
				<div class="chat__right_text">
					<ul>
						<li class="chat__right_text_name">nishi time</li>
						<li class="chat__right_text_text">text
						https://tech-master.s3.amazonaws.com/uploads/curriculums//ba2e9e609274fbd14137c38f23c53bf4.pnghttps://te</li>
					</ul>
				</div>
				<div class="chat__right_text">
					<ul>
						<li class="chat__right_text_name">nishi time</li>
						<li class="chat__right_text_text">text
						https://tech-master.s3.amazonaws.com/uploads/curriculums//ba2e9e609274fbd14137c38f23c53bf4.pnghttps://te</li>
					</ul>
				</div>
				<div class="chat__right_footer">
					<form action="/" name="search" method="post">
						<dl class="search_form">
							<dt><input type="text" name="search" value="type a message" placeholder="Search" /></dt>
							<dd><button>Search</button></dd>
						</dl>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
