<html>
	<head>
		<mata charset="utf-8">
		<title>
			chat-space
		</title>
	</head>
	<body>
		<div class="chat">
			<header>
				チャットグループが作成されました
			</header>
			<div class="chat-left">
				<div class="chat-left-user">
					<ul>
						<li>nishi</li>
					</ul>
				</div>
				<div class="chat-left-group">
					<ul>
						<li>group-name</li>
						<li>text</li>
					</ul>
				</div>
			</div>
			<div class="chat-right">
				<div class="chat-right-group">
					<ul>
						<li class="chat-right-group-name">techcamp-group</li>
						<li>membername :ddd</li>
					</ul>
				</div>
				<div class="chat-right-text">
					<ul>
						<li>nishi time</li>
						<li>text</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
