.notice {
  background:$blueback;
  text-align:center;
}
.chat {
  overflow:auto;
  height: 100vh;
  position:relative;
  &__left {
    width:300px;
    float:left;
    .chat__left_user {
      height:70px;
      background-color: $userback;
      color:$white;
      border: 20px solid $userback;
        .chat__left_user_name {
          padding-top: 20px;
          font-size:20px;
          font-weight:bold;
          color:$white;
        }
        .chat__left_user_new_group {
          &::before {
            font-family: "FontAwesome";
            content: "\f013";
            position : relative ;
            bottom : 1.5em ;
            left:-1.5em;
            margin-right : 0.1em ;
            float:right;
          }
          &::after {
            font-family: "FontAwesome";
            content: "\f044";
            position : relative ;
            bottom : 1.5em ;
            left:-2.0em;
            margin-right : 0.1em ;
            margin-left:50px;
            float:right;
          }
        }
    }
    .chat__left_group {
      height:calc(100vh - 195px);
      background-color:#2f3e51;
      border:20px solid #2f3e51;
      padding: 5px 0 40px 0;
        .chat__left_group_name {
          font-size: 15px;
          color:$white;
        }
        .chat__left_group_recent_text {
          font-size:11px;
          color:$white;
        }
    }
  }
  &__right {
    height:100vh;
    width:calc(100vw - 300px);
    float:left;
      .chat__right_group {
        height:77px;
        padding:30px 40px 0px 40px;
        border:1px solid #eeeeee;
          .chat__right_group_button {
            float:right;
            margin-right:20px;
            padding:12px 20px 12px 20px;
            border:1px solid $blueback;
            font-size: 15px;
          }
          .chat__right_group_name {
            color:#333333;
            font-size:20px;
            padding:0 0 15px 0;
          }
          .chat__right_group_current_user {
            font-size: 12px;
            color:#999999;
            padding-bottom:10px;
          }
      }
        .chat__right_text {
          overflow: scroll;
          margin: 46px 0px 40px 0px;
          padding:0px 40px;
            .chat__right_text_name {
              font-size:16px;
              font-weight: bold;
              float:left;
            }
            .chat__right_time {
              padding-left:50px;
              border-left:1px solid white;
              font-size:12px;
              color:#999999;
            }
            .chat__right_text_text {
              padding-top: 5px;
              font-size:14px;
              color: $textcolor;
            }
        }
        .chat__right_footer {
          position:absolute;
          bottom:0;
          height:30px;
          width:calc(100vw - 380px);
          padding:20px 40px 40px 40px;
          background-color: gray;
            .chat__right_footer {
              font-size:16px;
              font-color: $textcolor;
            }
            dl.search_form{
              position:relative;
            }
            dl.search_form dt{
              margin-right:130px;
              padding:8px;
              background-color:#fff;
              border:1px solid #aaa;
              &::after {
                font-family: "FontAwesome";
                content: "\f03e";
                position : relative ;
                bottom : 1.5em ;
                left:0.3em;
                margin-right : 0.1em ;
                float:right;
              }
            }
            dl.search_form dt input{
              width:100%;
              height:32px;
              line-height:24px;
              background:none;
              border:none;
            }
            dl.search_form dd{
              position:absolute;
              top:0;
              right:0;
            }
            dl.search_form dd button{
              display:block;
              width:100px;
              height:50px;
              color:#fff;
              line-height:40px;
              text-align:center;
              background-color: $blueback;
              border:1px solid $blueback;
            }
            button {
              font-size: 20px;
            }
        }
    }
}
